.dashBoardContent{
    width: 96%;
    height: 100%;
    background-color: white;
    overflow: scroll;
}
.displayItems{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    align-items:center;
    height:100%;
}
.spinner {
    display:flex;
    align-items:center;
    justify-content:center;
}
@media only screen and (max-width: 500px) {
    .dashBoardContent{
        width: 100%;
        height: 93%;
        overflow: scroll;
        position: relative;
        bottom: 7%;
    }
}